
  <h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
  <main>
    <p class="text-center">In <i class="fa-solid fa-book"></i>Bookers,</p>

    <p class="text-center">you can share and exchange your opinions , inpressions , and emotions</p>
    <p class="text-center">about various books!</p>
  <div class="d-grid gap-2 col-6 mx-auto">
  <p><button class="btn btn-success"><%= link_to "Log in", new_user_session_path %></button></p>
  <p><button class="btn btn-success"><%= link_to "Sign up", new_user_registration_path %></button></p>
  </div>
  </main>